.start {
    height: 100vh;
    max-width: 100%;
    background-image: url('../assets/img/background/texture@1x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .start {
        background-image: url('../assets/img/background/texture@2x.png');
    }
}

.start__letters-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    pointer-events: none;
    display: none;
}

.start__letters {
    width: 100%;
}

.start__tornpaper-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    pointer-events: none;
    width: 72%;
    height: 200px;
}

.start__tornpaper {
    width: 100%;
    height: 100%;
}

.start__sticker {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
}

.start__sticker-oval {
    position: absolute;
    transform: rotate(-16deg) translateX(56px);
    bottom: 52px;
    right: 0;
    height: var(--sticker-height);
}

.start__sticker-round {
    position: absolute;
    top: 100px;
    left: 0;
    height: var(--sticker-height);
    transform: rotate(-16deg) translateX(-100px);
}

.start__sticker-img {
    /*width: 100%;*/
    height: 100%;
    object-fit: contain;
}

.start__content {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.start__title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: var(--black);
    padding: 0 42px;
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 16px;
}
.start__title br {
    display: none;
}

.start__title-bordered {
    /*border-image: url('../assets/img/text-border_red.svg') 30 10 round round;*/
    /*border-top: none;*/
    /*border-left: none;*/
    /*border-right: none;*/
}

.start__title-bordered span,
.start__title-bordered i {
    position: relative;
    display: inline-block;
}

.start__title-bordered span:before,
.start__title-bordered i:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 14px;
    background-image: url('../assets/img/text-border_red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.start__subtitle {
    font-family: var(--subtitle-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 0 70px;
}

.start__arrow {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    padding: 20px;
    background: none;
}

.start__arrow-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/*tablet*/
@media screen and (min-width: 768px) {
    .start__tornpaper-wrapper {
        height: 385px;
        /*right: -55px;*/
        width: 76%;
    }

    .start__tornpaper {
    }

    .start__letters-wrapper {
        display: block;
        height: 114px;
        width: 137px;
        top: 274px;
        right: -34px;
    }

    .start__content {
        width: 100%;
        transform: translateY(-40%);
    }

    .start__title {
        font-weight: 300;
        font-size: 70px;
        line-height: 72px;
        margin: 0 0 20px;
    }

    .start__title-bordered {
        position: relative;
        display: inline-block;
    }

    .start__title-bordered:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 12px;
        background-image: url('../assets/img/text-border_orange.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .start__title-bordered span:before,
    .start__title-bordered i:before {
        display: none;
    }

    .start__title br {
        display: block;
    }

    .start__subtitle {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 120px;
    }

    .start__sticker-oval {
        bottom: 26px;
    }

    .start__sticker-round {
        top: auto;
        bottom: 120px;
        transform: rotate(-16deg) translateX(-44px);
    }
}

/*tablet end*/

/*desktop*/
@media screen and (min-width: 1260px) {
    .start__letters-wrapper {
        display: block;
        top: 333px;
        right: 27px;
        width: 172px;
        height: 142px;
    }
    .start__tornpaper-wrapper {
        width: 59%;
        height: 500px;
    }
    .start__sticker-oval {
        bottom: 40px;
        right: 0;
        height: 200px;
    }
    .start__content {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .start__title {
        font-size: 90px;
        line-height: 1.02;
        margin-bottom: 32px;
    }
    .start__subtitle {
        margin-bottom: 70px;
    }
    .start__sticker-round {
        height: 208px;
        bottom: 274px;
        left: 0;
        transform: rotate(-16deg) translateX(-150px);
    }
    .start__sticker-oval {
        bottom: 92px;
        transform: rotate(-16deg) translateX(80px);
    }
}

/*desktop end*/
