:root {
    --white: #fff;
    --black: #000;
    --gray-text: #949494;
    --btn-font: LuciferSans, sans-serif;
    --title-font: GTSuper;
    --subtitle-font: SpaceMono;

    --theme-color: #EE3524;

    --sticker-height: 150px;
}
